<!DOCTYPE html>
<html>
<body>

@if (showA)
{
    <div id="panel">A</div>
}
@* fallback *@
else
{
    <div id="panel">B</div>
}

<div id="panel">C</div>

<!-- Non-compliant: Duplicate IDs outside conditionals -->
<div id="wrapper">One</div>
<div id="wrapper">Two</div>

</body>
</html>
