<!DOCTYPE html>
<html>
<body>

@if (show)
{
    @{
        var payload = "}";
    }
    <div id="widget">A</div>
}
else
{
    <div id="widget">B</div>
}

<div id="footer">One</div>
<div id="footer">Two</div>

</body>
</html>
