<!-- Compliant: <partial> tag-helper at a structural table position -->
<table>
  <partial name="_Rows" />
</table>

<table>
  <thead>
    <partial name="_Headers" />
  </thead>
  <tbody>
    <tr><td>row</td></tr>
  </tbody>
</table>
