<table> <!-- Non-Compliant -->

</table>

<table>
  <th></th>
</table>

<table> <!-- Compliant -->
  <tr>
    <th></th>
  </tr>
</table>

<table> <!-- Compliant -->
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
</table>

<table> <!-- Compliant -->
  <tr>
    <th></th>
  </tr>
  <table></table> <!-- Non-Compliant -->
</table>

<table> <!-- Non-Compliant -->
  <table> <!-- Compliant -->
    <tr>
      <th></th>
    </tr>
  </table>
</table>

<table> <!-- Compliant -->
  <tr>
    <th></th>
  </tr>
  <table> <!-- Compliant -->
    <tr>
      <th></th>
    </tr>
  </table>
</table>

<th>
  
</th>

<table role="presentation">

</table>

<table role="None">

</table>

<table role="dummy"> <!-- Non-Compliant -->

</table>

<table role="presentation">
  <table></table> <!-- Non-Compliant, no recursive check on parent -->
</table>

<table aria-hidden="true">

</table>

<table aria-hidden="false"> <!-- Non-Compliant -->
  
</table>

<table aria-hidden="true">
  <table></table> <!-- Non-Compliant, no recursive check on parent -->
</table>

<table>
  <caption>Some Table</caption>
  <th:block th:insert="/ContainsTRAndTHAndTD.html" />
</table>

<table>
  <caption>Some Table</caption>
  <th:block th:replace="/ContainsTRAndTHAndTD.html" />
</table>

<table>
  <caption>Some Table</caption>
  <th:block th:include="/ContainsTRAndTHAndTD.html" />
</table>

<table th:include="/ContainsTRAndTHAndTD.html" >
  <caption>Some Table</caption>
</table>

<table th:insert="/ContainsTRAndTHAndTD.html" >
  <caption>Some Table</caption>
</table>

<table>
  <div th:include="/blabla.html"></div> <!-- Non-Compliant : insertion will occur inside div -->
</table>

<table>
  <div th:insert="/blabla.html"></div> <!-- Non-Compliant : insertion will occur inside div -->
</table>

<table>
  <div th:replace="/ContainsTRAndTHAndTD.html"></div> <!-- Compliant : div will be replaced, maybe by <TH> -->
</table>

<table>
  <div th:include="/blabla.html"></div>
  <th:block th:replace="/ContainsTRAndTHAndTD.html" />
</table>

<table>
  <th:block th:replace="/ContainsTRAndTHAndTD.html" />
  <div th:include="/blabla.html"></div>
</table>