<ul>
  <foo>
    <li>    <!-- Compliant - custom direct parent is ignored -->
  </foo>
</ul>

<ul>
  <li>foo
  <li>bar
</ul>

<menu>
  <li>foo
  <li>bar
</menu>

<ol>
  <li>foo
  <li>bar
</ol>

<dl>
  <dt></dt>
</dl>

<ul>
  <ul>
    <li>foo
    <li>bar
  </ul>
  <li>baz
  <ol>
    <li>qux
  </ol>
  <li>end
</ul>

<ul>
  <li><p>foo
  <li><p>bar
</ul>

<dl>
  <dt><p>foo
  <dt><p>bar
</dl>

<template>
  <li>foo</li>            <!-- Compliant - inside HTML <template> -->
  <dt>bar</dt>            <!-- Compliant - inside HTML <template> -->
</template>

<ng-template #itemTpl>
  <li>{{ item.name }}</li><!-- Compliant - inside Angular <ng-template> -->
</ng-template>

<asp:Repeater ID="TestRepeater" runat="server">
  <HeaderTemplate>
    <ul>
  </HeaderTemplate>
  <FooterTemplate>
    </ul>
  </FooterTemplate>
  <ItemTemplate>
    <li>Test</li>         <!-- Compliant - inside <asp:Repeater> -->
  </ItemTemplate>
</asp:Repeater>

<asp:DataList runat="server">
  <ItemTemplate>
    <dt>Term</dt>         <!-- Compliant - inside <asp:DataList> -->
  </ItemTemplate>
</asp:DataList>

<template>
  <div>
    <span>
      <li>deeply nested</li>  <!-- Compliant - <template> ancestor keeps rendered structure unknown -->
    </span>
  </div>
</template>

<c:if test="${show}">
  <li>x</li>         <!-- Compliant - non-HTML direct parent is ignored -->
</c:if>

<th:block th:if="${show}">
  <dt>y</dt>         <!-- Compliant - non-HTML direct parent is ignored -->
</th:block>

<ul>
  <c:forEach var="x" items="${xs}">
    <li>${x}</li>         <!-- Compliant - non-HTML direct parent is ignored -->
  </c:forEach>
</ul>

<dl>
  <th:block th:each="item : ${items}">
    <dt th:text="${item}">x</dt>  <!-- Compliant - non-HTML direct parent is ignored -->
  </th:block>
</dl>
