name: IRIS Synchronization
on:
  schedule:
    - cron: '0 2 * * *'  # nightly after analyze
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  iris-sync:
    name: IRIS SQ NEXT -> ${{ matrix.name }}
    runs-on: github-ubuntu-latest-s
    strategy:
      matrix:
        include:
          - name: Sonarcloud.io
            vault-path: sqc-eu
            destination-url: https://sonarcloud.io
          - name: SonarQube.us
            vault-path: sqc-us
            destination-url: https://sonarqube.us
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
          cache_save: false
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/kv/data/iris next | SONAR_SOURCE_IRIS_TOKEN;
            development/kv/data/iris ${{ matrix.vault-path }} | SONAR_TARGET_IRIS_TOKEN;
            development/kv/data/repox url | ARTIFACTORY_URL;
            development/artifactory/token/sonarsource-sonar-html-private-reader access_token | ARTIFACTORY_ACCESS_TOKEN;
      - name: Download IRIS JAR
        env:
          ARTIFACTORY_URL: ${{ fromJSON(steps.secrets.outputs.vault)['ARTIFACTORY_URL'] }}
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault)['ARTIFACTORY_ACCESS_TOKEN'] }}
        run: |
          VERSION="[RELEASE]"
          curl --fail --location --remote-name \
            --user "vault-sonarsource-sonar-html-private-reader:${ARTIFACTORY_ACCESS_TOKEN}" \
            "${ARTIFACTORY_URL}/sonarsource-private-releases/com/sonarsource/iris/iris/${VERSION}/iris-${VERSION}-jar-with-dependencies.jar"
      - name: Run IRIS synchronization (dry-run)
        env:
          SONAR_SOURCE_IRIS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault)['SONAR_SOURCE_IRIS_TOKEN'] }}
          SONAR_TARGET_IRIS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault)['SONAR_TARGET_IRIS_TOKEN'] }}
        run: |
          java \
            -Diris.source.projectKey="org.sonarsource.html:html" \
            -Diris.source.url="https://next.sonarqube.com/sonarqube" \
            -Diris.source.token="${SONAR_SOURCE_IRIS_TOKEN}" \
            -Diris.destination.projectKey="SonarSource_sonar-html" \
            -Diris.destination.organization="sonarsource" \
            -Diris.destination.url="${{ matrix.destination-url }}" \
            -Diris.destination.token="${SONAR_TARGET_IRIS_TOKEN}" \
            -Diris.dryrun=true \
            -jar iris-[RELEASE]-jar-with-dependencies.jar
      - name: Run IRIS synchronization (real)
        env:
          SONAR_SOURCE_IRIS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault)['SONAR_SOURCE_IRIS_TOKEN'] }}
          SONAR_TARGET_IRIS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault)['SONAR_TARGET_IRIS_TOKEN'] }}
        run: |
          java \
            -Diris.source.projectKey="org.sonarsource.html:html" \
            -Diris.source.url="https://next.sonarqube.com/sonarqube" \
            -Diris.source.token="${SONAR_SOURCE_IRIS_TOKEN}" \
            -Diris.destination.projectKey="SonarSource_sonar-html" \
            -Diris.destination.organization="sonarsource" \
            -Diris.destination.url="${{ matrix.destination-url }}" \
            -Diris.destination.token="${SONAR_TARGET_IRIS_TOKEN}" \
            -Diris.dryrun=false \
            -jar iris-[RELEASE]-jar-with-dependencies.jar
