name: Promote
on:
  workflow_run:
    workflows: [Build]
    types: [completed]
    branches: [master, branch-*, dogfood-on-*]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: write

jobs:
  promote:
    if: |
      (github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch') &&
      github.actor != 'dependabot[bot]'
    runs-on: github-ubuntu-latest-s
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
          cache_save: false
      - uses: SonarSource/ci-github-actions/promote@v1
        with:
          promote-pull-request: true
          artifactory-promoter-role: promoter
